#header {
    background-color: #ffffff;
    height: 60px;
    text-align: Center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
body {
    background-color: lightgrey;
}
#content{

}
.post {
    background-color: white;
    width: 40%;
    height: 390px;
    margin: 40px auto;
}
#post1 {
    margin-top: 100px;
}
img {
    height: 300px;
    width: 100%;
    object-fit: fill;
    margin: 0 auto;
}
.postimg{
    height: 300px;
}
.posttxt {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px;
    border-top: 0.5px solid lightgray;
    height: 50px;
}
.posthead {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid lightgray;
}
.lefthead {
    text-decoration: solid;
    font-weight: bold;
    justify-content: left;
    padding: 5px;
}
.righthead {
    color: lightgray;
    justify-content: right;
    padding: 5px;
}
#img4 {
    object-fit: none;
    height: 50%;
    margin: auto;
}
